<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<appSettings>
		<add key="AppSettingKey" value="This is an application setting value"/>
	</appSettings>
	<connectionStrings>
		<add name="MyDbConnection" connectionString="Data Source=ServerName;Initial Catalog=MyDatabase;Integrated Security=True" />
	</connectionStrings>
</configuration>